name: Check go version
on:
  push:
    branches:
      - main
jobs:
  deploy:
    name: Test setup-go version
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod
          cache: false # Disable cache to avoid free space issues during `Post Setup Go` step.
          check-latest: true # Ensure we use the latest Go patch version

      - name: Verify  Go version
        run: go version